<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create an Account</title>
</head>
<body>
    <h2>Sign Up for Our SaaS</h2>
    <form action="/register" method="POST">
        <label>Choose a Username:</label><br>
        <input type="text" name="username" required><br><br>
        
        <label>Choose a Password:</label><br>
        <input type="password" name="password" required><br><br>
        
        <button type="submit">Register Account</button>
    </form>
    <br>
    <a href="/login">Already have an account? Log In here</a>
</body>
</html>
